/*文字コード指定*/
@charset "UTF-8";
/*bodyの部分*/
body{
    margin: 0px;
}

.wrap{
    position: relative;
    box-sizing: border-box;

}

/*ヘッダー部分*/
.page-header{
    height: 80px;
    background-image: url(../image/rogo.png);
    background-repeat: no-repeat;
    
}
    
.obi{
  height: 5px;
  background-color: rgb(40, 40, 40);
  
}
.container{
    display: -webkit-flex;
    display: flex;
    background-color: rgb(166, 218, 231);
    padding-top: 20px;
}

/*記事部分*/
.article{
    display: block;
    width: 90%;
    margin-right: 20px;
}

p1{
  font-size: 5mm;
  line-height: 6mm;
}

/*お知らせの記事部分*/
.news{
    margin-right: 5%;
    margin-bottom: 50px;
    width: 90%;
    height: 300px;
    overflow: auto;
    border:rgb(40, 40, 40) 2px solid;
    background-color: ghostwhite;
}

/*サイドバー*/

/*サイドバー　時計部分*/

/* 時計の共通スタイル */
.clock {
  font-family: 'Share Tech Mono', monospace;
  color: ghostwhite;
  text-shadow: 0 0 10px #1f35fa;
  text-align: center;
  padding: 1px 0;
}
  
  /* 日付のスタイル */
.clock-date {
  font-size: 25px;
}
  
  /* 時間のスタイル */
.clock-time {
  font-size: 25px;
}

/*サイドバー　時計部分ここまで*/
  
.sidebar{
    width:320px;
    margin-right: 20px;
    margin-left: 20px;
}

.sidebar_item{
    height: 127px;
    margin-bottom: 20px;
    background-color: rgb(40, 40, 40);
    
}

/*追従サイドバー*/

.sidebar_item_fixed{
    
    
    position: sticky;
    margin-bottom: 0;
    top: 10px;
}
/*追従サイドバー”カテゴリー”部分*/
.sub-title{
  text-align: center;
  height: 40px;
  line-height: 65px;
  font-size: 8mm;
  color: rgb(166, 218, 231);
}

.sub-menu > li.menu-single1 {
  position: relative;
}
.sub-menu > li.menu-single2 {
  position: relative;
}
/*チェックボックスの四角の表示*/
#tg1 ,#tg2{
  display: none;
}
/*チェックボックスの設定*/
.menu-second-level1 {
  position: relative;
  display: none;
  top: 0px;
  list-style: none;
}
/*チェックボックスONの場合*/
.dropInput1:checked ~ .menu-second-level1 {
  display: inline;
  top: 0;
}
/*チェックボックスの設定2*/
.menu-second-level2 {
  position: relative;
  display: none;
  top: 0px;
  list-style: none;
}
/*チェックボックスONの場合2*/
.dropInput2:checked ~ .menu-second-level2 {
  display: inline;
  top: 0;
}
/*選択肢の設定*/
.dropLabel, .item {
  border:rgb(40, 40, 40) 1px solid;
  padding: 1em 1.5em;
  display: block;
  background-color:ghostwhite;
  text-align: center;
  position: relative;
  color: rgb(40, 40, 40);
  text-decoration: none;
}

.dropLabel{
  font-size: 6mm;
  background-color: rgb(141, 224, 247);
}
/*チェックボックス内の色*/
.item:hover {
  background-color: #3CB371;
  color:ghostwhite;
}

.dropLabel:hover, .dropInput:checked + label {
  background: #008B8B;
  color: ghostwhite;
}

/*フッター*/
footer{
    background: rgb(40,40,40);
    height: 20px;
    width: 100%;
    text-align: center;
    padding: 26px 0;
    color: ghostwhite;
    font-size: 0.0875rem;
    bottom: 0;
}


